.title {
    text-align: center;
}

/*body::after {
    content: "";
    background: url(../images/double-decker-3283422_1920.jpg);
    background-repeat: repeat-y;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/